<div class="flex-container">
  <div class="content">
    <div class="passwd-list">
      <mat-list>
        <mat-list-item class="subheader-item">
          <mat-icon matListIcon>library_add</mat-icon>
          <h3 matLine> Poczta </h3>
        </mat-list-item>
        <div class="line"></div>
        <mat-list-item class="passwd-list-item">
          <mat-icon matListIcon>library_add</mat-icon>
          <h3 matLine> Utwórz grupę </h3>
        </mat-list-item>
        <div class="line"></div>
        <mat-list-item class="passwd-list-item">
          <mat-icon matListIcon>library_add</mat-icon>
          <h3 matLine> Utwórz grupę </h3>
        </mat-list-item>
        <mat-list-item class="subheader-item">
          <mat-icon matListIcon>library_add</mat-icon>
          <h3 matLine> Media społecznościowe </h3>
        </mat-list-item>
        <div class="line"></div>
        <mat-list-item class="passwd-list-item">
          <mat-icon matListIcon>library_add</mat-icon>
          <h3 matLine> Utwórz grupę </h3>
        </mat-list-item>
        <div class="line"></div>
        <mat-list-item class="passwd-list-item">
          <mat-icon matListIcon>library_add</mat-icon>
          <h3 matLine> Utwórz grupę </h3>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="passwd-selectd">
      <div id='triangle-right'></div>
      <div class="passwd-data">
        <div class="passwd-data-content">
          <div class="name">
            <mat-icon matListIcon>face</mat-icon>
            <p matLine>Facebook</p>
          </div>
          <div class="secret">
            <p class="mdc-typography--body1">Login: facebook</p>
            <p class="mdc-typography--body1">Mail: facebook@gmail.com</p>
            <div class="passwd">
              <p class="mdc-typography--body1" matLine>Hasło: ******
                <mat-icon matListIcon>visibility</mat-icon>
              </p>
              <p class="mdc-typography--caption">
                <span>Podwójne kliknięcie kopiuje</span>
              </p>
            </div>

          </div>
        </div>
      </div>
      <div id='action-item'>
        <mat-icon matListIcon style="color: #E51A1A; opacity: 0.7;">delete</mat-icon>
        <mat-icon matListIcon style="color: #000000; opacity: 0.7;">edit</mat-icon>
        <mat-icon matListIcon style="color: #00FF66; opacity: 0.7;">add</mat-icon>
      </div>
    </div>
  </div>
</div>
