<div class="flex-container">
  <div class="content">
    <div class="passwd-list">
      <mat-list>
        <mat-list-item class="subheader-item">
          <mat-icon matListIcon>library_add</mat-icon>
          <h3 matLine> Poczta </h3>
        </mat-list-item>
        <div class="line"></div>
        <mat-list-item class="passwd-list-item">
          <mat-icon matListIcon>library_add</mat-icon>
          <h3 matLine> Utwórz grupę </h3>
        </mat-list-item>
        <div class="line"></div>
        <mat-list-item class="passwd-list-item">
          <mat-icon matListIcon>library_add</mat-icon>
          <h3 matLine> Utwórz grupę </h3>
        </mat-list-item>
        <mat-list-item class="subheader-item">
          <mat-icon matListIcon>library_add</mat-icon>
          <h3 matLine> Media społecznościowe </h3>
        </mat-list-item>
        <div class="line"></div>
        <mat-list-item class="passwd-list-item">
          <mat-icon matListIcon>library_add</mat-icon>
          <h3 matLine> Utwórz grupę </h3>
        </mat-list-item>
        <div class="line"></div>
        <mat-list-item class="passwd-list-item">
          <mat-icon matListIcon>library_add</mat-icon>
          <h3 matLine> Utwórz grupę </h3>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="passwd-selectd">
      <div id='triangle-right'></div>

    </div>
  </div>
  <a routerLink="/home">Home</a>
</div>
