<div class="flex-container">
  <div class="content">
    <div class="passwd-list">
      <mat-list>
        <mat-list-item class="subheader-item">
          <mat-icon matListIcon>library_add</mat-icon>
          <h3 matLine> Poczta </h3>
          <mat-icon matListIcon class="action" style="color: #E51A1A; opacity: 0.7;">delete</mat-icon>
        </mat-list-item>
        <div class="line"></div>
        <mat-list-item class="passwd-list-item">
          <mat-icon matListIcon>library_add</mat-icon>
          <h3 matLine> Utwórz grupę </h3>
          <mat-icon matListIcon class="action" style="color: #000000; opacity: 0.5;">check_circle_outline</mat-icon>
        </mat-list-item>
        <div class="line"></div>
        <mat-list-item class="passwd-list-item">
          <mat-icon matListIcon>library_add</mat-icon>
          <h3 matLine> Utwórz grupę </h3>
          <mat-icon matListIcon class="action" style="color: #FE0000">highlight_off</mat-icon>
        </mat-list-item>
        <mat-list-item class="subheader-item">
          <mat-icon matListIcon>library_add</mat-icon>
          <h3 matLine> Media społecznościowe </h3>
          <mat-icon matListIcon class="action" style="color: #E51A1A; opacity: 0.7;">delete</mat-icon>
        </mat-list-item>
        <div class="line"></div>
        <mat-list-item class="passwd-list-item">
          <mat-icon matListIcon>library_add</mat-icon>
          <h3 matLine> Utwórz grupę </h3>
          <mat-icon matListIcon class="action" style="color: #FE0000">highlight_off</mat-icon>
        </mat-list-item>
        <div class="line"></div>
        <mat-list-item class="passwd-list-item">
          <mat-icon matListIcon>library_add</mat-icon>
          <h3 matLine> Utwórz grupę </h3>
          <mat-icon matListIcon class="action" style="color: #000000; opacity: 0.5;">check_circle_outline</mat-icon>
        </mat-list-item>
      </mat-list>
      <div id="btn-div">
        <button mat-button color="warn">
          <mat-icon>delete</mat-icon>USUŃ</button>
      </div>
    </div>
    <div class="passwd-selectd">
      <div id='triangle-right'></div>
      <div class="passwd-data">
        <div class="passwd-data-content">
          <div class="name">
            <mat-icon matListIcon>face</mat-icon>
            <p>Facebook</p>
          </div>
          <div class="secret">
            <p>Login: facebook</p>
            <p>Mail: facebook@gmail.com</p>
            <div class="passwd">
              <p>Hasło: ******
                <mat-icon matListIcon>visibility</mat-icon>
              </p>
              <p>
                <span>Podwójne kliknięcie kopiuje</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
