<div class="alert-warning hidden" id="alert">
  <div class="opacity-layer"></div>
  <div class="alert-content">
    <div class="title">
      <span>Uwaga!</span>
    </div>
    <div class="messages">
      <span>Wykonanie tej czynnosci spowoduje trwale usuniecie tego hasla.</span>
    </div>
    <div class="confirm-question">Czy chcesz kontynuowac?</div>
    <div class="confirm-btn">
      <button mat-button (click)='closeAlert()'>Zamknij</button>
      <button mat-button (click)='passwdDelete()'>Ok</button>
    </div>
  </div>
</div>