<div class="container">
  <div *ngIf='stepp==1'>
    <div class="content-one">
      <div class="pg-title">
        <p>Wybierz platformę</p>
        <div class="line"></div>
      </div>
      <div class="platform-list">
        <mat-list>
          <mat-list-item class="brand-selected">
            <mat-icon matListIcon>account_balance</mat-icon>
            <h3 matLine> Google </h3>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>account_balance</mat-icon>
            <h3 matLine> Facebook </h3>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>account_balance</mat-icon>
            <h3 matLine> Microsoft </h3>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>account_balance</mat-icon>
            <h3 matLine> Github </h3>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>account_balance</mat-icon>
            <h3 matLine> Wirtualna Polska </h3>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>account_balance</mat-icon>
            <h3 matLine> Protonmail </h3>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  <div *ngIf='stepp==2'>
    <div class="content-two">
      <div class="brand">
        <div class="name">
          <mat-icon matPrefix>face</mat-icon>
          <span matLine>Facebook</span>
        </div>
      </div>
      <div class="form-passwd">
        <form class="form">
          <mat-form-field class="form-full-width">
            <input matInput placeholder="Login" value="Sushi">
          </mat-form-field>
          <mat-form-field class="form-full-width">
            <input matInput placeholder="E-mail">
          </mat-form-field>

          <mat-form-field class="form-full-width">
            <input type="password" matInput placeholder="Hasło">
            <button mat-button matSuffix mat-icon-button>
              <mat-icon>visibility</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field matLine>
              <mat-icon matPrefix id="add">add</mat-icon>
            <mat-select placeholder="Dodaj do grupy">
              <mat-option [value]="1">
                1
              </mat-option>
              <mat-option [value]="2">
                2
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
  <div class="stepper">
    <div class="step-stepper">
      <div class="circle selected" id='one'></div>
      <div class="circle" id='two'></div>
    </div>
    <div class="btn">
      <button mat-button (click)="nextStepp()" *ngIf='stepp==1'>
        Dalej
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
      <button mat-button (click)="setPasswd()" *ngIf='stepp==2'>
        Zapisz
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
    <div class="cls"></div>
  </div>
</div>
