.container {
  position: relative;
  width: 580px;
  height: 600px;
}

.content-one {
  width: 580px;
  height: 600px;
  padding-top: 0;
  margin-top: 0;
  .pg-title {
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }
  .platform-list {
    overflow: auto;
  }
  .line {
    background-color: #C4C4C4;
    width: 100%;
    height: 1px;
    margin: auto;
  }
  .brand-selected {
    background-color: #E0E0E0;
    border-radius: 50px;
  }
}

.content-two {
  width: 580px;
  height: 600px;
  .brand {
    width: 580px;
    height: 100px;
    position: relative;
    .name{
      width: 250px;
      height: 25px;
      position: absolute;
      bottom: 0;
      margin-left: 165px;
      margin-right: 165px;
      text-align: center;
      size: 24px;
      mat-icon{
        float: left;
        margin: 0 -35px 0 60px;
      }
      span{
        float: left;
        margin: 2px 0px 0px 50px;
      }
    }
  }
  .form-passwd{
    width: 100%;
    height: 450px;
    .form{
      padding-top: 50px;
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    .form-full-width {
      width: 100%;
    }
    #add{
      color: #00FF66;
      opacity: 0.7;
    }
  }
}

.stepper {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  z-index: 2;
  .step-stepper {
    width: 360px;
    height: 40px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    .circle {
      margin-left: 75px;
      border-radius: 50%;
      height: 8px;
      width: 8px;
      float: left;
      background-color: #C4C4C4
    }
    .selected {
      background-color: #4B4B4B
    }
    .circle:last-child {
      margin-left: 7px;
    }
  }
  .btn {
    height: 40px;
    width: 220px;
    float: left;
    color: white;
    button {
      text-transform: uppercase;
      background-color: #2F80ED;
      border-radius: 25px;
    }
    button:nth-child(2) {
      margin-left: 5px;
    }
    #btn-1{
      margin-left: 88px;
    }
  }
}

.cls {
  clear: both;
}
