<div class="container">
    <div *ngIf='stepp==1'>
      <div class="content-one">
        <div class="form-passwd">
          <form class="form">
            <mat-form-field class="form-full-width">
              <input matInput placeholder="Nazwa Grupy" value="Popcorn">
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf='stepp==2'>
      <div class="content-two">
          <div class="header mdc-typography--headline6">
            Dodaj notatki do grupy
          </div>
          <mat-selection-list #shoes class="notice-list">
            <mat-list-option>
              Plik 1 
            </mat-list-option>
            <mat-list-option>
              Plik 2
            </mat-list-option>
            <mat-list-option>
              Plik 3
            </mat-list-option>
          </mat-selection-list>       
          <p>
            Zaznaczone notatki: {{shoes.selectedOptions.selected.length}}
          </p> 
      </div>
    </div>
    <div class="stepper" id="sr">
      <div class="step-stepper">
        <div class="circle selected" id='one'></div>
        <div class="circle" id='two'></div>
      </div>
      <div class="btn" *ngIf='stepp==1'>
        <button mat-button (click)="createGroup()">
          Zakończ
        </button>
        <button mat-button (click)="nextStepp()">
          Dalej
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
      <div class="btn btn-second" *ngIf='stepp==2'>
        <button mat-button (click)="prevStepp()">
          Wstecz
        </button>
        <button mat-button (click)="createGroup()">
          Zakończ
        </button>
      </div>
      <div class="cls"></div>
    </div>
  </div>
  