<div class="container">
  <div class="content">
    <label for="file-input">
      <div class="drag-zone" id="inp-file">
        <div class="border-gray">
          <div class="element">
            <div class="icon">
              <input type="file" id="file-input">
              <mat-icon>note_add</mat-icon>
            </div>
            <div class="text">Drag and drop file: Flitz.apk</div>
          </div>
        </div>
      </div>
    </label>
    <div class="progressbar">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar><span>100%</span>
    </div>
  </div>
</div>
