@import '~@angular/material/theming';
.flex-container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
}

.nav {
  flex-basis: 220px;
  height: 100vh;
}

.mat-subheader {
  color: map_get($mat-blue, 500);
}

mat-list-item {
  cursor: pointer;
}

.main-content {
  display: block;
  width: 100%;
}
