.container{
    margin: 0;
    padding: 0;
}
.nav{
    padding: 0;
    border-right: black 1px solid;
    width: 225px;
    float: left;
}
.main-content{
    background-color: #E8EAED;
    float: left;
    width: 500px;
}